.customize-control-title {
	margin-top: 15px;
	color: #689181;
}

.zillah_repeater_container, .zillah_general_control_repeater_container {
	width: 100%;
	float: left;
	padding: 5px 0;
	cursor:move;
}

.zillah_repeater_container .zillah-box-content-hidden, .zillah_general_control_repeater_container .zillah-box-content-hidden {
	padding: 5px;
	border: 1px solid #dfdfdf;
	border-top:0px;
	padding-top: 0px;
}

button.zillah_remove_field {
	display: inline-block;
	width: 25% !important;
	height: 57px !important;
	white-space: initial !important;
	line-height: 17px !important;
	float: right;
}

button.zillah_general_control_remove_field {
	width: 100%;
	margin-top: 10px!important;

}

button.zillah_general_control_remove_field:hover{
	background-color:#00a0d2!important;
	color:#FFFFFF!important;
	border: 0;
}

.zillah_repeater_container .zillah_icon_link,  .zillah_general_control_repeater_container .zillah_text_control, .zillah_general_control_repeater_container .zillah_link_control{
	width: 100% !important;
	margin: 3px 0 0 !important;
}

.zillah_repeater_container .zillah_icons, .zillah_general_control_repeater_container .zillah_icon_control {
	width: 100%;
	margin: 0;
	padding: 0;
}

#zillah_new_field, #zillah_general_control_new_field {
	width: 100%;
}

.customize-control-widget_form .widget-control-save {
	display:block !important;
}

.zillah-ad-widget{
    margin: 0 auto 10px;
    position: relative;
    box-sizing: border-box;
}

.zillah-ad-widget-top{
	background: #fafafa;
	color: #23282d;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	padding: 0;
	line-height: 1.4em;
	font-size: 13px;
	font-weight: 600;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.zillah-ad-widget-inside{
	display: none;
}

.zillah-ad-widget-title{
	font-size: 1em;
	margin: 0;
	padding: 0 15px;
	font-size: 1em;
	line-height: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	user-select: none;
}

.zillah-ad-widget-inside {
    padding: 1px 10px 10px;
    line-height: 16px;
    background: #fff;
		border: 1px solid #e5e5e5;
		border-top: none;
}

.zillah_our_services_image_control{
	display:none;
}

.zillah_our_services_icon_control{
	display:none;
}

.zillah_general_control_repeater_container .zillah-box-content-hidden{
	display: none;
}

.zillah-box-content-hidden{
	background-color: #FFFFFF;
}

.zillah-customize-control-title{
	border: 1px solid #dfdfdf;
	cursor: move !important;
	font-weight: bold;
	padding: 0 10px !important;
	height: 40px;
	line-height: 40px !important;
	background-color: #f1f1f1;
	background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
	background-image: linear-gradient(top, #f9f9f9, #ececec);
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	text-align: center;
	color:#689181;
}

.zillah_image_control .custom_media_button_zillah{
	margin-top: 5px;
}

#customize-control-zillah_contact_form_shortcode{
	display:none;
}

.zillah_radio_control{
    margin-top: 0;
}

.zillah_general_control_repeater_container .zillah-box-content-hidden{
    padding-top: 5px;
}

#accordion-section-zillah_shop_section .accordion-section-title, #accordion-section-zillah_sections_order .accordion-section-title, #accordion-section-zillah_features_ribbon_section .accordion-section-title, #accordion-section-zillah_portfolio_section .accordion-section-title, #accordion-section-zillah_shortcodes_section .accordion-section-title, #accordion-section-zillah_new_features .accordion-section-title {
	background-image:url(../images/gray-lines.png);
	background-repeat:repeat;
}

#accordion-section-zillah_shop_section .accordion-section-title:after, #accordion-section-zillah_sections_order .accordion-section-title:after, #accordion-section-zillah_features_ribbon_section .accordion-section-title:after, #accordion-section-zillah_portfolio_section .accordion-section-title:after, #accordion-section-zillah_shortcodes_section .accordion-section-title:after, #accordion-section-zillah_new_features .accordion-section-title:after {
	content: "\f160";
}

/***********************************/
/***** Palette picker control ******/
/***********************************/

#customize-control-metro_customizr_contact_form_shortcode {
	display: none;
}

.metro_customizr_radio_control {
	margin-top: 0;
}

.metro_customizr_general_control_repeater_container .metrox-box-content-hidden {
	padding-top: 5px;
}

.zillah_palette_picker li span {
	width: 43px;
	height: 40px;
	display: inline-block;
}

.zillah_palette_input {
	border: 1px solid #cfcfcf;
	width: 209px;
	height: 40px;
	float: left;
	line-height: 40px;
	font-size: 16px;
	padding: 5px;
	cursor: pointer;
	background-color: #FFFFFF;
}

.zillah_palette_input span {
	display: block;
	height: 40px;
	float: left;
	width: 40px;
}

.zillah_dropdown {
	width: 20px;
	height: 50px;
	font-size: 20px;
	float: left;
	border: 1px solid #cfcfcf;
	text-align: center;
	border-left: 0px;
	cursor: pointer;
	line-height: 50px;
	background-color: #00a5f9;
	color: #FFFFFF;
	font-size: 12px;
}

.zillah_dropdown span {
	line-height: 50px;
}

.zillah_palette_picker {
	clear: both;
	text-align: center;
	padding-top: 6px;
	border: 1px solid #cfcfcf;
	border-top: 0px;
	display: none;
	width: 240px;
	background-color: #fff;
}

.zillah_palette_picker li span {
	cursor: pointer;
}

.zillah_pallete_default {
	line-height: 40px;
	cursor: pointer;
}

/***********************************/
/****** Google fonts Control *******/
/***********************************/
.ti-google-fonts-wrap {
    background: rgba(255, 255, 255, 0.75);
    padding: 10px;
    border: 1px solid #ddd;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: auto;
}

.ti-google-fonts-wrap label {
	width: 100%;
	display: block;
	clear: left;
	font-size: 16px;
	line-height: 28px;
    overflow: hidden;
    position: relative;
}

.ti-google-fonts-wrap label input {
    position: absolute;
    left: -9999px;
}

.ti-google-fonts-wrap label:hover,
.ti-google-fonts-wrap label.ti-google-fonts-active {
    color: #0073aa;
}

